<div id="contato" class="grid_17 push_3">
	<h1 class="grid_3 omega">Contato</h1>

	<section class="grid_12">
		<h1>Informações</h1>

		<ul class="grid_5 alpha">
			<li class="black">E-mail.</li>
			<a href="#">contato@mrxempresarial.com.br</a>
		</ul>

		<ul class="grid_6">
			<li class="black">Facebook.</li>
			<a href="http://www.facebook.com">facebook.com/mrxempresarial</a>
		</ul>

		<ul class="grid_5 alpha">
			<li class="black">Twitter.</li>
			<a href="http://www.twitter.com">@mrx_empresarial</a>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
  <h1>Formulário</h1>
  <div class="modal hide">
    <h2>Modal</h2>
    <h3>Modal</h3>
  </div>

		<%= form_for(Mailer.new, url: contact_path) do |form| %>
			<div class="grid_5 alpha">
				<p>Nome.</p>
				<%= text_field_tag 'contact[name]', nil %>

				<p>Telefone.</p>
				<%= text_field_tag 'contact[phone]', nil %>

				<p>E-mail.</p>
				<%= email_field_tag 'contact[email]', nil %>
			</div>

			<div class="grid_5">
				<p>Título.</p>
				<%= text_field_tag 'contact[title]', nil, value: '' %>

				<p>Mensagem.</p>
				<%= text_area_tag 'contact[message]', nil %>
			</div>

			<div class="grid_1">
				<%= submit_tag 'Enviar', :disable_with => 'Enviando...' %>
			</div>
    <% end %>
	</section>
</div>	
